# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# misc
.DS_Store

# Dev db data
db

# TypeScript
build

logs

backup

prisma/migrations

uploads/*/*
static/*/*
!uploads/*/.gitkeep
!static/*/.gitkeep